{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <h2>Login</h2>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="form-group">
            <label for="_username">Email address</label>
            <input type="text" class="form-control" name="_username" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="_password">Password</label>
            <input type="password" class="form-control" name="_password" placeholder="Password">
        </div>
    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-default"/>
</form>
{% endblock fos_user_content %}
